#wordRecord {
	font-size: 50px;
}
.infobar {
	
}
.infobar a, .infobar p {
	float: right;
	margin: 5px;
}

#mathQuestion, #timeRecord {
	font-size: 70px;
}

#title {
	font-size: 55px;
}

#note {
	text-align: center;
	font-size: 15px;
}

.red {
	color: red;
}
.green {
	color: green;
}
.buttonMath {
	font-size: 50px;
}

.big {
	width: 80px;
	height: 80px;
}
.small {
	margin: 30px;
	width: 20px;
	height: 20px;
}

#listButton {
	margin: 8px;
	margin-top: 50px;
	padding-top: 5px;
	border-top: 2px solid grey;
}

#listButton a {
	height: 10px;
	padding: 20px;
	
	margin: 3px;
}